<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tuseva.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD7C7BD31F27280600869FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD7C7BE71F27280800869FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD7C7BF21F27280900869FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
